$offblack: #222222; // For text
$offwhite: #f0f0f5; // For background
$boxwhite: #ffffff; // For diagram backgrounds
$lightgrey: #b4b4b4; // For footers/metadata
$blue: #2f6f93; // For links and highlights
$lightblue: #d8e5f1;
$darkblue: #214f66;
$brown: #803300; // For syntax highlighting
$lightbrown: #e0ae8f;
$green: #4a9c4a;
$lightgreen: #c7e1c7;
$life-bg-color: $lightblue;

// Remember to adjust the colours in LifeViewer.hs if necessary.

$serif: Iowan Old Style, Apple Garamond, "EB Garamond", Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$sansserif: avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$body-width: 65ch; // This ends up being approximately 80 characters actually
