*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
node_modules/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
_cache/
temp/
tikz_temp/
templates/auto/
