<section>
<ul id="posts-list">
    $for(posts)$
    <li class="post-entry">
        <h1 class="post-list-title"><a href="$url$">$title$</a></h1>
        <p class="post-deets">$date$ / $tags$</p>
        <div class="post-content">
            $if(teaser)$
            $teaser$
            <div class="continue-post"><a href="$url$">Read post <svg class="chevron-icon"><use href="#icon-chevron-right"></use></svg></a></div>
            $else$
            $body$
            $endif$
        </div>
    </li>
    $endfor$
</ul>


$if(nextPageNum)$
<a id="next-page-link" href='$nextPageUrl$'><svg class="chevron-icon"><use href="#icon-chevron-left"></use></svg> Older Entries</a>
$endif$

$if(previousPageNum)$
<a id="prev-page-link" href='$previousPageUrl$'>Newer Entries <svg class="chevron-icon"><use href="#icon-chevron-right"></use></svg></a>
$endif$
</section>
